.nav__root-input-suggestions {
  background-color: pink;
}

.nav {
  &__input-suggestions {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 5px;
    background-color: #12133b;
    overflow: hidden;

    &--item {
      cursor: pointer;
      background-color: #12133b;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.123);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }

  &__unit-wrapper {
    background-color: #12133b;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
  }

  &__unit-indicator {
    background-color: var(--mantine-color-indigo-9);
    box-shadow: 0 0 4px rgba(64, 89, 187, 0.534);
  }

  &__unit-label {
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    &[data-active] {
      color: white;
    }

    &:not([data-active]) {
      color: "var(--mantine-color-gray-5)";
    }

    &:not([data-active]):hover {
      color: white;
    }
  }
}
