.weather-card {
  background-color: rgba(255, 255, 255, 0.03);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease;
  border: 1px solid transparent;

  &:hover {
    transform: translateY(-4px);
    background-color: rgba(255, 255, 255, 0.05);
    border-color: var(--mantine-color-gray-2);
  }
}

.weather-daily-card {
  cursor: pointer;
}

.weather-card-temp-line {
  flex: 1;
  height: 6px;
  width: 40px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--mantine-color-orange-7),
    var(--mantine-color-orange-4),
    var(--mantine-color-cyan-4),
    var(--mantine-color-cyan-7)
  );
  opacity: 0.7;
}
